body {
  background-color: black;
}

#topMenu {
  background-color: #696969;
  color: white;
  width: 95%;
  position: absolute;
  text-align: right;
  margin-left: 2%;
}

#topMenu > ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  background: #696969;
  width: 100%;
}

li {
  float: left;
  width: 100%;
}

ul > li > a {
  text-decoration: none;
  background: #696969;
  color: white;
  padding: 0px 15px;
  line-height: 70px;
  display: block;
  border: black solid 1px;
  border-right: 1px solid black;
  height: 7%;
  text-align: center;
  -moz-transition: all 0.3s 0.01s ease;
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
  font-size: 18px;
}

ul > li > a:hover {
  background: #dcdcdc;
  color: #1e90ff;
}

#avatar {
  width: 20%;
  height: 20%;
  margin-top: 7%;
  margin-left: 10%;
}

#ava {
  display: none;
}

label {
  cursor: pointer;
}

#upload {
  margin-left: 10%;
  width: 20%;
}

#files {
  float: left;
}

.userName {
  position: absolute;
  margin-top: 7%;
  margin-left: 5%;
  font-size: 32px;
  color: white;
  width: 30%;
}

button:hover {
  cursor: pointer;
}

.but:hover::after {
  content: attr(data-title);
  position: absolute;
  left: 85%;
  top: 15%;
  z-index: 1;
  background: rgba(255, 255, 230, 0.9);
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 5px 10px;
  border: 1px solid #333;
}

.row{
width: 200px;height:50px;text-align: center;font-size: 20px;background: grey;
}

.readRow{
width: 200px;height:50px;text-align: center;font-size: 20px;background: black;
}
