#mainDiv{
    background-color:white;
    color: black;
    margin-top: 7%;
    margin-left: 37%;
    margin-right: 35%;
    width: 350px;
    height: 500px;
    text-align: center;
    border-radius: 25px;
}

p{
    text-align: left;
    margin-left: 22%;
}

input{
    width: 200px;
    height: 30px;
    border: solid 1px;
    border-color: cornflowerblue;
}

button{
    height: 35px;
    width: 225px;
    background: linear-gradient(80deg,#7B68EE, #9932CC);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}